.bg-infinite {
  position: relative;
  overflow: visible;
}

@supports (pointer-events: none) {
  .bg-infinite::before {
    position: absolute;
    top: 0;
    right: -1000%;
    bottom: 0;
    left: -1000%;
    z-index: -1;
    pointer-events: none;
    content: "";
    background-color: var(--background-color);
  }
}
