.has-featured-image {
  position: relative;
  background-position: center;
  background-size: cover;
}

@supports (pointer-events: none) {
  .has-featured-image::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
    content: "";
    background: rgba(0, 0, 0, 0.15);
  }
}

.has-featured-image > * {
  position: relative;
  z-index: 1;
}
