.has-background-image {
  position: relative;
  background-position: center;
  background-size: cover;

  > * {
    position: relative;
    z-index: 1;
  }

  @supports (pointer-events: none) {
    &::before {
      @extend .flush;

      z-index: 0;
      content: '';
      background: rgba(black, 0.15);
    }
  }
}
