.text-bold {
  font-weight: 600;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-normal {
  text-transform: none;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-serif {
  font-family: var(--serif) !important;
}

.text-sans {
  font-family: var(--sans-serif) !important;
}

.lh-small {
  line-height: 1.414;
}

.lh-smaller {
  line-height: 1.06;
}

.display-1 {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  font-size: 244%;
  font-weight: 600;
  line-height: 1.122;
}

.lead {
  font-size: 112%;
  font-weight: 300;
  opacity: 1;
}

.lead b {
  font-family: var(--serif);
  font-size: 119%;
  font-weight: 600;
}
