/** Make links inside .text-gray the same color. */

.text-bold {
  font-weight: 600;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-serif {
  font-family: var(--serif) !important;
}

.text-sans {
  font-family: var(--sans-serif) !important;
}
