/* See React Modal documentation. The default styles are completely overridden. */

/* Remove scroll on the body when react-modal is open */
.ReactModal__Body--open {
  overflow: hidden;
}

[data-modal-content] {
  display: none;
}

.ReactModal__Overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4444;
  background-color: rgba(255, 255, 255, 0.75);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes fadeDown {
  0% {
    transform: translateY(-50px);
  }

  100% {
    transform: translateY(0);
  }
}

.ReactModal__Content {
  z-index: 9999;
  padding: 3rem 1.5rem;
  overflow: auto;
  background: #fff;
  outline: none;
  animation-name: fadeIn;
  animation-duration: 0.5s;

  @extend .flush;

  > * {
    animation-name: fadeDown;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
  }
}

.Modal__close-button {
  position: absolute;
  top: 2.625rem;
  right: 2.5rem;
  background: none;
  border: none;

  svg {
    width: 1.5rem;
    height: 1.5rem;
    color: map-get($themeColors, 'black');
  }
}
