.footer {
  background-color: var(--background);

  a {
    color: var(--link-color);
  }

  .menu {
    padding-left: 0;
    list-style: none;

    @media screen and (min-width: map-get($gridBreakpoints, 'md')) {
      column-count: 2;
    }
  }
}
