/** Make links inside .text-gray the same color. */

.font-weight-bold {
  font-weight: 600;
}

.bg-black {
  @extend .black;
}

.text-uppercase {
  text-transform: uppercase;
}

.strong {
  font-weight: 600;
}

.stronger {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.no-wrap {
  white-space: nowrap;
}

.text-serif {
  font-family: var(--serif) !important;
}

.text-sans {
  font-family: var(--sans-serif) !important;
}
