#directoryListing > li {
  border: 1px solid var(--border-color);
}

.directory-row > * {
  padding: 1.125rem 1.5rem;
}

#directoryListing > li:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.1);
}
