/**
 * Styles for HTML elements.
 */

body {
  margin: 0;
  font-family: var(--sans);
  font-size: 112%;
  line-height: 1.75;
  color: var(--black);
  background: var(--white);
  text-rendering: optimizeLegibility;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

button {
  font-size: 1em;
  text-align: left;
  cursor: pointer;
  border-color: unset;
  border-style: none;
  border-width: 0;
}

input[type*="text"] {
  padding: 0.5em;
  font-size: 1.06em;
  border-radius: 0.125em;
  -webkit-appearance: none;
  appearance: none;
}

address {
  font-style: normal;
}

main {
  overflow: hidden;
}

main::after {
  display: block;
  clear: both;
  content: "";
}

hr {
  margin: 1.5rem 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0.75rem;
  margin-left: 2.5rem;
  list-style-type: disc;
}

ol {
  margin-bottom: 0.75rem;
  margin-left: 2.5rem;
  list-style-type: decimal;
}
