@import 'suitcss-base'; /* Normalize with extra. */
@import 'elements';
@import 'grid';
@import './root.css';
@import './type.css';
@import 'utils/bg';
@import 'utils/border';
@import './utils/display.css';
@import './utils/flex.css';
@import './utils/position.css';
@import './utils/text.css';
@import './utils/lists.css';
@import './utils/buttons.css';
@import './utils/sizing.css';
@import './utils/wordpress.css';
@import './utils/has-background-image.css';
@import 'aria';
@import 'items/accordion';
@import './items/columned-list.css';
@import '/items/card';
@import './items/category-list.css';
@import './items/badge.css';
@import './items/list-group.css';
@import './items/welcome.css';
@import 'items/search-form';
@import './items/section.css';
@import './items/sticky-nav.css';
@import './items/featured-image.css';
@import 'items/first-letter';
@import 'items/wp-gallery';
@import './parts.css';
@import './footer.css';
@import './blocks/site-header';
@import './features/directory.css';
@import './structures/article.css';

@custom-props-themes;
@spacing-utils;

:root {
  --sans: 'Open Sans', sans-serif;
  --serif: 'franklin-gothic-urw', sans-serif;
}

.screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

.clearfix {
  clear: both;
}
