:root {
  --primary: #214280;
  --background-color: #fff;
  --background-hover-color: #e6e6e6;
  --color: #353535;
  --link-color: #214280;
  --link-hover-color: #214280;
  --heading-color: #214280;
  --heading-link-color: #214280;
  --heading-link-hover-color: #214280;
  --border-color: #e6e6e6;
}

body {
  color: #353535;
  color: var(--color);
  background-color: #fff;
  background-color: var(--background-color);
}

a {
  color: #214280;
  color: var(--link-color);
}

a:hover {
  color: #214280;
  color: var(--link-hover-color);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #214280;
}

.h1 a,
.h2 a,
.h3 a,
.h4 a,
.h5 a,
.h6 a,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #214280;
  color: var(--heading-link-color);
}

.h1 a:hover,
.h2 a:hover,
.h3 a:hover,
.h4 a:hover,
.h5 a:hover,
.h6 a:hover,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #214280;
  color: var(--heading-link-hover-color);
}

.dark,
.dark-transparent,
.gray,
.highlight,
.light,
.primary {
  color: var(--color);
  background-color: var(--background-color);
  border-color: var(--border-color);
}

.dark-transparent::hover,
.dark::hover,
.gray::hover,
.highlight::hover,
.light::hover,
.primary::hover {
  background-color: var(--background-hover-color);
}

.light {
  --background-color: #fff;
  --background-hover-color: #e6e6e6;
  --color: #353535;
  --link-color: #214280;
  --link-hover-color: #214280;
  --heading-color: #214280;
  --heading-link-color: #214280;
  --heading-link-hover-color: #214280;
  --border-color: #e6e6e6;
}

.primary {
  --background-color: #214280;
  --background-hover-color: #1e3b73;
  --border-color: #37558d;
}

.highlight,
.primary {
  --color: #fff;
  --link-color: #fff;
  --link-hover-color: #fff;
  --heading-color: #fff;
  --heading-link-color: #fff;
  --heading-link-hover-color: #fff;
}

.highlight {
  --background-color: #d14124;
  --background-hover-color: #bc3b20;
  --border-color: #d6543a;
}

.gray {
  --background-color: #e6e6e6;
  --background-hover-color: #b3b3b3;
  --color: #353535;
  --link-color: #214280;
  --link-hover-color: #214280;
  --heading-color: #214280;
  --heading-link-color: #214280;
  --heading-link-hover-color: #214280;
  --border-color: #ccc;
  --hover-color: #ccc;
}

.dark {
  --background-color: #353535;
  --background-hover-color: #1e3b73;
}

.dark,
.dark-transparent {
  --color: #fff;
  --link-color: #fff;
  --link-hover-color: #fff;
  --heading-color: #fff;
  --heading-link-color: #fff;
  --heading-link-hover-color: #fff;
  --border-color: #37558d;
}

.dark-transparent {
  --background-color: transparent;
  --background-hover-color: #1e3b73;
}

.themed-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  padding: 1.5rem;
  border-radius: 2px;
}
