.badge,
a.badge {
  display: inline-block;
  padding: 0.25rem 0.375rem;
  margin-bottom: 0.25rem;
  color: var(--color);
  white-space: nowrap;
  background-color: var(--background);
  border-radius: 0.166rem;

  a {
    color: var(--color);
  }
}

a.badge {
  color: var(--color);

  &:hover {
    background-color: var(--hover-color);
  }
}
