.list-group {
  --link-color: var(--color);

  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  font-size: 94.4%;
  color: var(--color);
}

.list-group > li,
.list-group > a,
.list-group > button {
  position: relative;
  z-index: 4;
  display: block;
  font-weight: 600;
  line-height: 1.35;
  color: var(--color);
  text-transform: uppercase;
}

.list-group > a,
.list-group > button {
  padding: 0.75rem 1rem;
  background-color: var(--background);
  border: 1px solid var(--border-color);
  border-bottom-width: 0;
}

.list-group > li {
  padding: 0.5rem 1rem;
}

.list-group > li:first-child {
  padding-top: 0.875em;
}

.list-group > li:last-child {
  padding-bottom: 0.875em;
}

.list-group > a:hover,
.list-group > button:hover {
  background-color: var(--background-hover-color);
}

.list-group > a:first-child,
.list-group > button:first-child {
  padding-top: 0.875em;
  border-radius: 0.125em 0.125em 0 0;
}

.list-group > a:last-child,
.list-group > button:last-child {
  padding-bottom: 0.875em;
  border-bottom-width: 1px;
  border-radius: 0 0 0.125em 0.125em;
}

.list-group > a:focus,
.list-group > button:focus,
.list-group > a.active,
.list-group > button.active {
  z-index: 9;
}

.list-group > a.active,
.list-group > button.active {
  background-color: var(--background-hover-color);
}
