.search-form {
  display: flex;
}

.search-form label {
  display: block;
  width: 100%;
  max-width: 400px;
  margin-bottom: 0;
}

.search-form button.search-submit {
  position: relative;
  top: 0;
  width: 0;
  color: rgba(0, 0, 0, 0.7);
  background: transparent;
  border: none;
  transform: translateX(-2.25rem);
}

.search-field {
  width: 100%;
  border: none;
  padding: .5rem;
  border-radius: 2px;
}

.search-submit svg {
  width: 1.125rem;
  height: 1.125rem;
}

.search-field::placeholder {
  font-size: 89.1%;
}
