.sticky-nav {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  z-index: 1111;
}

.sticky-nav-item {
  flex: 1 1 200px;
  text-align: center;
  border-radius: 0;
  padding: 0.25rem;
}
